<div class="container-fluid">
    <hr>
    <footer class="footer">
        <div class="footer text-center small">
            <div>
            <i>Note: Alpha version=0.0.0.1</i>
            </div>
        </div>
    </footer>
</div>