<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              <a href="#"><img src="images/jira.png"></a>
        </div>
        <% if (userInfo.me != 0) { %>
         <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/personal/mytasks"><span class="glyphicon glyphicon-briefcase"></span> My To Do</a></li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-link"></span> Delta Processing</a>
                    <ul class="dropdown-menu">
                        <li><a href="/delta/index">View</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="/delta/report">Execute</a></li>
                    </ul>
                </li>
                <li><a href="/sos/sprint" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-wrench"></span> Scrum of Scrums</a>
                    <ul class="dropdown-menu">
                        <li><a href="/sos/sprint">Agenda</a></li>
                    </ul>
                </li>
                <li><a href="/bud/sprint" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-wrench"></span> Burn Up Down</a>
                    <ul class="dropdown-menu">
                        <li><a href="/bud/sprint">View</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="/bud/sprint">Manage</a></li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-certificate"></span> Quality Check</a>
                    <ul class="dropdown-menu">
                        <li><a href="/qc/wi">Work Instructions</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="/qc/story">Stories</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="#">Schedule</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/selectproject?change=true">Change Project</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="/story/report_requirements">Create Story Document</a></li>
                         <%if (userInfo.usertype=="admin"){%>
                             <li role="presentation" class="divider"></li>
                            <li><a href="/user">Users</a><li>
                            <li><a href="/stage">Stages</a></li>
                            <li><a href="/company">Companys</a></li>
                            <li><a href="/project">Projects</a></li>
                            <li><a href="/actor">Actors</a></li>
                         <%};%>	
                    </ul>
                </li>
                <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                <li><a href="/user/edit/<%=userInfo.me%>"><span class="glyphicon glyphicon-user"></span> <%=userInfo.userName%></a></li>
            </ul>
        </div>
        <%}%>
    </div>
</div>